Repository ExpediaGroup/molten, pull requests merged in 2021-02, with the labels that each got.

#23 Add spring boot 2 integration module.
  build/codeStyleFormatter.xml
  molten-bom/pom.xml
  molten-core/src/main/java/com/hotels/molten/core/mdc/MDCContextPropagatingSubscriber.java
  molten-core/src/main/java/com/hotels/molten/core/mdc/MoltenMDC.java
  molten-core/src/test/java/com/hotels/molten/core/mdc/MoltenMDCTest.java
  molten-dependencies/pom.xml
  molten-http-client/src/main/java/com/hotels/molten/http/client/ReactorNettyCallFactoryFactory.java
  molten-http-client/src/main/java/com/hotels/molten/http/client/retrofit/ReactorNettyCall.java
  molten-http-client/src/site/grafana/http_client_calls_prometheus.json
  molten-http-client/src/test/java/com/hotels/molten/http/client/ReactorNettyHttpClientTest.java
  molten-platform/pom.xml
  molten-remote-cache/readme.md
  molten-remote-cache/src/test/java/com/hotels/molten/cache/redis/RemoteRedisCacheIntegrationTest.java
  molten-root/pom.xml
  molten-spring-boot/pom.xml
  molten-spring-boot/readme.md
  molten-spring-boot/src/main/java/com/hotels/molten/spring/boot/MoltenCoreSpringBootInitializer.java
  molten-spring-boot/src/main/resources/META-INF/spring.factories
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/SpringBootWebFluxIntegrationTest.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/HelloApi.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/LogCaptor.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/MdcWebFilter.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/MyController.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/SpanCaptor.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/TestApplication.java
  molten-spring-boot/src/test/java/com/hotels/molten/spring/boot/integration/test/WebConfiguration.java
  molten-spring-boot/src/test/resources/application.yaml
  molten-spring-boot/src/test/resources/logback.xml
  molten-trace-test/src/main/java/com/hotels/molten/trace/test/TracingTestSupport.java
  molten-trace-test/src/test/java/com/hotels/molten/trace/MoltenTraceTest.java
  molten-trace/readme.md
  molten-trace/src/main/java/com/hotels/molten/trace/MoltenTrace.java
  molten-trace/src/main/java/com/hotels/molten/trace/TraceContextPropagatingSubscriber.java
  molten-trace/src/main/java/com/hotels/molten/trace/TracingTransformer.java
  readme.md
Labels: enhancement, java

#34 Netty reactive client test revived and versions updated
  molten-dependencies/pom.xml
  molten-http-client/src/main/java/com/hotels/molten/http/client/ReactorNettyCallFactoryFactory.java
  molten-http-client/src/test/java/com/hotels/molten/http/client/ReactorNettyHttpClientTest.java
Labels: dependencies, java

#46 Made legacy mockito ReactiveMock flow switchable as well
  CHANGELOG.md
  molten-test-mockito-autoconfigure/src/main/resources/mockito-extensions/org.mockito.plugins.AnnotationEngine
Labels: bug, java
